*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: azure; 
}
.display{
    margin: 20%;
    width: 40%;
    padding: 2em;
    color:blueviolet;
    text-align: center;
    border: 1px solid black;
    display: block;
    font-size:2em;
}
